<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627517509507-t4chftr7fkr4k37ftpnfaokaqip81m79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627517509507-t4chftr7fkr4k37ftpnfaokaqip81m79</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>627517509507-itmgtrfh7sudcbp32pce0qo8vp4k2b4k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFqz7Nc5l6NoYVmKV9mnGoHXVLNth0uvA</string>
	<key>GCM_SENDER_ID</key>
	<string>627517509507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CinePrime</string>
	<key>PROJECT_ID</key>
	<string>cineprime-309407</string>
	<key>STORAGE_BUCKET</key>
	<string>cineprime-309407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:627517509507:ios:5e90693579a90793f530b6</string>
</dict>
</plist>
